<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scroll Document Styles</title>
    <link rel="stylesheet" href="css/Styling __Of__Till__Cars__Images.css">
    <link rel="stylesheet" href="css/Introduction__Text__Animation.css">
</head>




<body>
    <!-- //Animation Of Scroll Page -->
    <section>
        <div class="side" id="side1">
            <video src="images/production ID_3858833.mp4" type="video/mp4" autoplay loop muted></video>
        </div>
        <div class="side" id="side2">
            <video src="images/production ID_3858833.mp4" type="video/mp4" autoplay loop muted></video>
        </div>
    </section>

    <!-- //Name Plate Animation -->
    <div class="con2">
        <h1 class="text">YUVRAJ&nbsp; &nbsp;BOOKING&nbsp; &nbsp;SLOTS&nbsp; &nbsp;ALWAYS&nbsp; &nbsp;FOR&nbsp;
            &nbsp;YOUR&nbsp; &nbsp;SERVICE</h1>

    </div>


    <!-- //Intro Section Content 1 -->


    <div class="content">
        <h1>INTRODUCTION</h1>
        <h2>Srolling Page For Expo Project</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ab unde laboriosam voluptate reprehenderit
            veniam autem dolor harum id, sed fugiat pariatur possimus minus, tenetur voluptas velit! Quas cum illo fugit
            dolorum rem, pariatur deleniti cupiditate totam placeat excepturi perferendis sunt debitis! Quo nihil
            consequuntur debitis dicta aut eos eligendi aspernatur repudiandae blanditiis sit numquam illo nisi
            voluptates ipsa amet minima aliquid quis autem, laudantium temporibus? Dolores fuga vitae hic perferendis
            doloremque quae ab accusantium molestias corrupti, laborum provident explicabo tenetur soluta nihil id
            dolorem voluptatibus incidunt aliquid. Vitae pariatur minima quasi magni eligendi, nisi alias similique ab
            sed at!</p>
        <h2>Srolling Page For Expo Project</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ab unde laboriosam voluptate reprehenderit
            veniam autem dolor harum id, sed fugiat pariatur possimus minus, tenetur voluptas velit! Quas cum illo fugit
            dolorum rem, pariatur deleniti cupiditate totam placeat excepturi perferendis sunt debitis! Quo nihil
            consequuntur debitis dicta aut eos eligendi aspernatur repudiandae blanditiis sit numquam illo nisi
            voluptates ipsa amet minima aliquid quis autem, laudantium temporibus? Dolores fuga vitae hic perferendis
            doloremque quae ab accusantium molestias corrupti, laborum provident explicabo tenetur soluta nihil id
            dolorem voluptatibus incidunt aliquid. Vitae pariatur minima quasi magni eligendi, nisi alias similique ab
            sed at!</p>
        <h2>Srolling Page For Expo Project</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ab unde laboriosam voluptate reprehenderit
            veniam autem dolor harum id, sed fugiat pariatur possimus minus, tenetur voluptas velit! Quas cum illo fugit
            dolorum rem, pariatur deleniti cupiditate totam placeat excepturi perferendis sunt debitis! Quo nihil
            consequuntur debitis dicta aut eos eligendi aspernatur repudiandae blanditiis sit numquam illo nisi
            voluptates ipsa amet minima aliquid quis autem, laudantium temporibus? Dolores fuga vitae hic perferendis
            doloremque quae ab accusantium molestias corrupti, laborum provident explicabo tenetur soluta nihil id
            dolorem voluptatibus incidunt aliquid. Vitae pariatur minima quasi magni eligendi, nisi alias similique ab
            sed at!</p>
        <h2>Srolling Page For Expo Project</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ab unde laboriosam voluptate reprehenderit
            veniam autem dolor harum id, sed fugiat pariatur possimus minus, tenetur voluptas velit! Quas cum illo fugit
            dolorum rem, pariatur deleniti cupiditate totam placeat excepturi perferendis sunt debitis! Quo nihil
            consequuntur debitis dicta aut eos eligendi aspernatur repudiandae blanditiis sit numquam illo nisi
            voluptates ipsa amet minima aliquid quis autem, laudantium temporibus? Dolores fuga vitae hic perferendis
            doloremque quae ab accusantium molestias corrupti, laborum provident explicabo tenetur soluta nihil id
            dolorem voluptatibus incidunt aliquid. Vitae pariatur minima quasi magni eligendi, nisi alias similique ab
            sed at!</p>
    </div>


    <!-- //Image Sclae Animation -->

    <div class="image">
        <div class="vid">
            <video src="images/pexels-taryn-elliott-5309381.mp4" type="video/mp4" autoplay loop muted></video>
        </div>
        <div class="img" id="img1">
            <img src="images/493186.jpg" alt="">
        </div>
        <div class="img" id="img2">
            <img src="images/493191.jpg" alt="">
        </div>
        <div class="vid2">
            <video src="images/pexels-тасев-теодор-5991156.mp4" type="video/mp4" autoplay loop muted></video>
        </div>
    </div>

    <!-- //Submission form -->


    <form action="" method="POST">
        <div class="submission">
            <head>
                <h1>BOOK NOW</h1>
                <h2>Registration &nbsp;Information</h2>
            </head>
            <div class="formOut">
                <div class="form">
                    <span>
                        <input type="text" placeholder="First Name" name="first">
                        <input type="text" placeholder="Last Name" name="last">
                    </span>
                    <span>
                        <input type="email" placeholder="User Email-ID" name="email">
                    </span>
                    <span>
                        <input type="number" placeholder="User Contact Number" name="number">
                    </span>
                    <span>
                        <input type="datetime-local" placeholder="*Time Of Your Arrival" name="timeOfA">
                        <!-- <h3>Time Of Your Arrival</h3> -->
                        <input type="number" placeholder="Duration Of Stay In Hours" name="stay">
                    </span>
                    <span>
                        <p>* Time Of Your Arrival</p>
                    </span>
                </div>
            </div>
            <footer>
                <h2>Kindly select a slot</h2>
            </footer>
        </div>

        <!-- //Slot animated cards -->
        <div class="cardSect">
            <div class="container">
                <div class="cardI">
                    <div class="imgX" id="imgA">
                        <img src="https://cdn.propertyupdate.com.au/wp-content/uploads/2015/09/car-park.jpg"
                            alt="error">
                    </div>
                    <div class="card" id="card1">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="content2">
                            <h2>01</h2>
                            <h3>Post Title</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsa assumenda incidunt
                                facere
                                officia et repudiandae illo deleniti a harum, repellendus est veniam dolorem hic
                                mollitia
                                similique voluptates recusandae ipsam!</p>
                            <div>slot no. 1</div>
                        </div>
                    </div>
                </div>
                <div class="cardI">
                    <div class="imgX" id="imgB">
                        <img src="https://cdn.propertyupdate.com.au/wp-content/uploads/2015/09/car-park.jpg"
                            alt="error">
                    </div>
                    <div class="card" id="card2">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="content2">
                            <h2>02</h2>
                            <h3>Post Title</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsa assumenda incidunt
                                facere
                                officia et repudiandae illo deleniti a harum, repellendus est veniam dolorem hic
                                mollitia
                                similique voluptates recusandae ipsam!</p>
                            <div>slot no. 2</div>
                        </div>
                    </div>
                </div>
                <div class="cardI">
                    <div class="imgX" id="imgC">
                        <img src="https://cdn.propertyupdate.com.au/wp-content/uploads/2015/09/car-park.jpg"
                            alt="error">
                    </div>
                    <div class="card" id="card3">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="content2">
                            <h2>03</h2>
                            <h3>Post Title</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsa assumenda incidunt
                                facere
                                officia et repudiandae illo deleniti a harum, repellendus est veniam dolorem hic
                                mollitia
                                similique voluptates recusandae ipsam!</p>
                            <div>slot no. 3</div>
                        </div>
                    </div>
                </div>
                <div class="cardI">
                    <div class="imgX" id="imgD">
                        <img src="https://cdn.propertyupdate.com.au/wp-content/uploads/2015/09/car-park.jpg"
                            alt="error">
                    </div>
                    <div class="card" id="card4">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="content2">
                            <h2>04</h2>
                            <h3>Post Title</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsa assumenda incidunt
                                facere
                                officia et repudiandae illo deleniti a harum, repellendus est veniam dolorem hic
                                mollitia
                                similique voluptates recusandae ipsam!</p>
                            <div>slot no. 4</div>
                        </div>
                    </div>
                </div>
                <div class="cardI">
                    <div class="imgX" id="imgE">
                        <img src="https://cdn.propertyupdate.com.au/wp-content/uploads/2015/09/car-park.jpg"
                            alt="error">
                    </div>
                    <div class="card" id="card5">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="content2">
                            <h2>05</h2>
                            <h3>Post Title</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsa assumenda incidunt
                                facere
                                officia et repudiandae illo deleniti a harum, repellendus est veniam dolorem hic
                                mollitia
                                similique voluptates recusandae ipsam!</p>
                            <div>slot no. 5</div>
                        </div>
                    </div>
                </div>
                <div class="cardI">
                    <div class="imgX" id="imgF">
                        <img id="img6" src="https://cdn.propertyupdate.com.au/wp-content/uploads/2015/09/car-park.jpg"
                            alt="error">
                    </div>
                    <div class="card" id="card6">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="content2">
                            <h2>06</h2>
                            <h3>Post Title</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsa assumenda incidunt
                                facere
                                officia et repudiandae illo deleniti a harum, repellendus est veniam dolorem hic
                                mollitia
                                similique voluptates recusandae ipsam!</p>
                            <div>slot no. 6</div>
                        </div>
                    </div>
                </div>
                <div class="cardI">
                    <div class="imgX" id="imgG">
                        <img id="img7" src="https://cdn.propertyupdate.com.au/wp-content/uploads/2015/09/car-park.jpg"
                            alt="error">
                    </div>
                    <div class="card" id="card7">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="content2">
                            <h2>07</h2>
                            <h3>Post Title</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsa assumenda incidunt
                                facere
                                officia et repudiandae illo deleniti a harum, repellendus est veniam dolorem hic
                                mollitia
                                similique voluptates recusandae ipsam!</p>
                            <div>slot no. 7</div>
                        </div>
                    </div>
                </div>
                <div class="cardI">
                    <div class="imgX" id="imgH">
                        <img id="img8" src="https://cdn.propertyupdate.com.au/wp-content/uploads/2015/09/car-park.jpg"
                            alt="error">
                    </div>
                    <div class="card" id="card8">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="content2">
                            <h2>08</h2>
                            <h3>Post Title</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsa assumenda incidunt
                                facere
                                officia et repudiandae illo deleniti a harum, repellendus est veniam dolorem hic
                                mollitia
                                similique voluptates recusandae ipsam!</p>
                            <div>slot no. 8</div>
                        </div>
                    </div>
                </div>
                <div class="cardI">
                    <div class="imgX" id="imgI">
                        <img id="img9" src="https://cdn.propertyupdate.com.au/wp-content/uploads/2015/09/car-park.jpg"
                            alt="error">
                    </div>
                    <div class="card" id="card9">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="content2">
                            <h2>09</h2>
                            <h3>Post Title</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsa assumenda incidunt
                                facere
                                officia et repudiandae illo deleniti a harum, repellendus est veniam dolorem hic
                                mollitia
                                similique voluptates recusandae ipsam!</p>
                            <div>slot no. 9</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Submission button -->
        <div class="sub">
            <input type="number" placeholder="Enter The Slot Number" name="slot">
            <button>CONFORM</button>
        </div>      
    </form>

    <footer class="foots">
        <h3>Yuvraj Booking Website ⓒ 2011-2022 Plagiarism Today All Rights Reserved</h3>
    </footer>

    



    <script src="js/anime.min.js"></script>
    <script src="js/Animation__Of__Expo__project.js"></script>






</body>

</html>